<form method="POST" action="/artwork">
    <label for="artist">Artist:</label>
    <input type="text" name="artist[name]" id="artist" placeholder="Artist Name"><br>

    <label for="title">Title:</label>
    <input type="text" name="artwork[title]" id="title" placeholder="Title"><br>   

    <label for="year">Year:</label>
    <input type="text" name="artwork[year]" id="year" placeholder="Year"><br>
    
    <label for="material">Medium:</label>
    <input type="text" name="artwork[material]" id="material" placeholder="Materials"><br>  

    <label for="artist">Dimensions:</label>
    <input type="text" name="artwork[dimensions]" id="dimensions" placeholder="Metric or Imperial"><br>  

    <input type="submit" value="Create">
</form>
