<form method="POST" action="/login">
    <label for="email">Enter Email:</label>
    <input type="email" name="email" id="email" placeholder="Enter Email"><br>
    <label for="password">Enter Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br>
    <input type="submit" value="Log In">
</form>