<form method="POST" action="/login">
<div class="loginfields">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Enter Email"><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br>
    <input type="submit">
</div>
</form>