
<h2>Uh oh, something is broken!</h2>
<figure>
    <img src="public/images/jeffwall404.jpg" alt="a destroyed room" style="width:100%">
    <figcaption>Jeff Wall, <i>The Destroyed Room</i>, 1978</figcaption>
</figure>
